<html>

<body>
    <h1>Categories</h1>
    <ul>
        <% categories.map((category)=> { %>
            <li><%= category.name %></li>
        <% }) %>
    </ul>

    <button>Add Category</button>
</body>

</html>