<html>

<body>
    <h1>Categories</h1>
    <ul>
        <% categories.map((category)=> { %>
            <li>
                <h2><%= category.name %></h2>
                <button onclick="location.href='/category/edit/<%= category.id %>'">Edit</button>
            </li>
        <% }) %>
    </ul>

    <button onclick="location.href='/category/new';">Add Category</button>
</body>

</html>