<html>
    <body>
        <h1>Home Page</h1>
        <button onclick="location.href='/item';">All Items</button>
        <button onclick="location.href='/category';">All Categories</button>
    </body>
</html>